
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: white;
}
button{
    
    color: white;
    font-size: 130%;
    background-color: rgba(52, 22, 105, 0.7);
    border-radius: 15px;

}

button, input, h3{
    cursor: pointer;
}

button:hover, input:hover, h3:hover{
    border: 3px;
    border-color: rgb(122, 55, 136);

}
header {
    
    
    top: 0px;
    padding-bottom: 8px;
    height: 15%;
    text-align: center;
    
    background-image: linear-gradient(to right, #8c2ede, #499eb1);
    background-size: 120%;
}
header, footer{
    background-color: #8c2ede;
    text-align: center;
}
footer {
    background-image: linear-gradient(to left, #8c2ede, #499eb1);
    
    position: fixed;
    bottom: 0;
    width: 100%;
}
header img{
    
    width: 10%;
    
    

}

h1{
    margin:0% auto;
    display: inline;
    
}

h2{
    line-height: 0.0;

}
.header-div{
    line-height: 0.0;
    padding: 6px;
    
    border:  1px solid grey;
    border-radius: 10px;
    background-color: rgba(43, 87, 105, 0.7);
    display: inline-block;

    font-size: 160%;
    height: 35px;
}

.header-div:hover{

    background-color: rgba(80, 109, 212, 0.9);

}


.hide{

    display: none;
}


main{
    
    background-image:url(./images/https___cdn.evbuc.com_images_602106279_200284926746_1_original.jpg);
    min-height: 700px;
    background-size: cover;
    background-repeat: repeat-y;
    color:cornsilk;

    text-align: center;
    padding: 20px;

}

.section {

    background-color: rgba(28, 81, 146, 0.9);
    border-radius: 20px;
    font-size: 110%;
    min-height: 100%;

    margin: 20px;

    padding: 20px;




}

main>div{
    min-height: 100%;
    max-height: 600px;

    margin:0% auto;

}

#left{


    
    right: 10px;

    margin-bottom: 0%;



}
h1 img{
    width: 20%;
    height: 20%;
}


form div{
    
    margin: 15px;
}


.select, option {

    width: 70%;
    color: aliceblue;
    color: black;
}



table{
    overflow-y: auto;
    max-height: 100%;

}

.titleEllipse{
    background: none;
    border: none;
    padding: 0px;
    cursor: pointer;


}
.arrow{

    width: 5%;

    margin-right:3% ;
}

.selected{

    background-color:#8c2ede8f;

}


.view{

    display: flex;
    align-items: center;

    flex-wrap: wrap;
}

#homeView div{

    height: 525px;


    margin:15px;
}

#homeView{



    justify-content: center;
}

h2{

    font-size: 200%;
}



h3{

    cursor: pointer;
    background-color: rgba(240, 248, 255, 0.1);

    border-radius: 25%;
    font-size: 175%;
    width: 18%;
    margin-right: 1%;


}

#logoGoup{

    display: flex;



}

@media screen and (max-width: 600px) {
    li div:nth-child(2),  /* targets the second child */
    li div:nth-child(3),
        h3:nth-child(2),
        h3:nth-child(3),h3:nth-child(4),
        li div:nth-child(4)
        { /* targets the third child */
        display: none;
    }
    .section{
        flex-basis: 100%; /* Each item takes full width on small screens */
        max-width: 100%;}
    .browseDiv{
        max-height: 400px;

        flex:1;
    }

    .section{
        flex-basis: 100%; /* Each item takes full width on small screens */
        max-width: 100%;
    
        font-size: 55%;
    
    }

    
    
    h2{
        font-size: 80%;
    }
    .header-div{
        font-size: 75%;

    }

    h3{

        font-size: 90%;
    }

    footer{

        font-size: 30%;
    }

    h1 img{
        width: 10%;
        height: 10%;
    }
    header {
    
    
        top: 0px;
        height: 10%;
    }

    body{

        background-color: rgb(142, 30, 144);
    }
    #popupElement{

        font-size: 80%;
    }



}


@media screen and (max-width: 800px) {
        /* targets the second child */
    tr td:nth-child(3),
        
        tr th:nth-child(3),tr th:nth-child(4),
        tr td:nth-child(4)
        { /* targets the third child */
        display: none;
    }

    #popupElement{

        font-size: 100%;
    }

    .section{
        flex-basis: 100%; /* Each item takes full width on small screens */
        max-width: 100%;
    
        font-size: 70%;
    
    }

    .browseDiv{
        max-height: 400px;
        flex:1;
    }

    h2{
        font-size: 100%;
    }

    h2{
        font-size: 110%;
    }
    .header-div{
        font-size: 80%;

    }

    h3{

        font-size: 90%;
    }

    h1 img{
        width: 15%;
        height: 15%;
    }


    header {
    
    
        top: 0px;
        height: 12%;
    }
    footer{

        font-size: 20%;
    }


}

.browseDiv{
    max-height: 600px;
    flex:2;
}

#popupElement {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    /* Combine translate and scale in a single transform property */
    transform: translate(-50%, -50%) scale(0);
    padding: 3%;
    font-size: 200%;
    border-radius: 20px;
    color: white;
    background-color: rgba(169, 46, 222, 0.858);
    animation: growEffect 0.5s ease-out forwards;
    transition: ease-in-out 0.5s;
}

@keyframes growEffect {
    from {
        transform: translate(-50%, -50%) scale(0);
    }
    to {
        transform: translate(-50%, -50%) scale(1);
    }
}



@keyframes fillAnimation {
    0% {
        transform: scaleX(0); 
    }
    100% {
        transform: scaleX(1); 
    }
}



    .rotated {
    transform: rotate(180deg);
}
.arrow{
    transition: transform 0.5s ease-in-out;

}

.link{
    text-decoration: underline;
    color: aliceblue;
    cursor: pointer;

}

.creditsHoverButton{
    position: absolute;
    top: 1%;
    right: 5%;
    }
.creditPopup{
    display: none;
}
.creditPopup:hover{
    display: flex;
    background-color:#c9860b;
}

#singleSongViewer{

    left: 0;
    transform: translateX(-100%);

    visibility: hidden;
}



ul{

    list-style: none;
}

li, tr{

    margin-top: 10px;
}
.progressBar{
    height: 20px;
    margin-top: 0px;
    background-color: rgba(196, 60, 198, 0.623);
    white-space: nowrap; 
    overflow: visible;
    transform: scaleX(0); 
    transform-origin: left; 
    animation: fillAnimation 0.5s linear forwards; }
tr:nth-child(odd) td:nth-child(even),
tr:nth-child(even) td:nth-child(odd) {
    background-color: rgba(48, 67, 141, 0.737); /* Checkerboard table from https://stackoverflow.com/questions/67460008/checkerboard-with-tables-in-html */}
canvas{
    width: 75%;
    margin:0% auto; }
.topDisplay{
    min-width: 22%;}
#topSongDiv{

    min-width: 40%;}
#single{
    text-align: left; 
    min-width:25%; 
    min-height: 25%}
#radarChartDiv{

    min-width:55%;  
    max-height: 575px;}
#radarChart{

    margin:0% auto; 
    width: 75%; 
    background-color: rgba(240, 248, 255, 0.2); 
    border-radius: 20%;}
#playlistSection{

    min-width:70%; 
    overflow-y:scroll; 
    max-height: 450px;}
#searchDiv{
    min-width:60%; 
    overflow-y:scroll; 
    max-height: 450px;}
#playlistSection table{
    width: 90%; 
    max-height: 400px;}
.listHead{

    display: flex;}
ul.songViewer li{

    display: flex;
    text-align: left;}
ul.songViewer li div{

    width: 24%;
    margin-right: 9%;
    margin-top: 5%;}
.listHead button{
    margin-left: 10%;
    height: 5%;}

#playlistDisplay{
    width: 90%; 
    max-height: 400px;

}